{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <title>{% block title %}NO TITLE{% endblock %}</title>
        
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <!-- Pure CSS framework, simple enough for our use -->
        <link rel="stylesheet" 
              href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
              integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" 
              crossorigin="anonymous">
        <!-- viewport tag to render page correctly -->        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <body>

        {% block body %}
        No body specified in base template!
        {% endblock %}

        </body>
</html>
