{% block header %}
<div class="pure-menu pure-menu-horizontal">
    
    <a href="{% url 'index' %}" class="pure-menu-heading pure-menu-link">Global Planning Solutions</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">
                Browse
            </a>
        </li>
            <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">
                Bookings
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">
               My Account
            </a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">
               Logout
            </a>
        </li>
        {% else %}
        <li class="pure-menu-item">
            <a href="{% url 'login' %}" class="pure-menu-link">
                Login
            </a>
        </li>
        {% endif %}
     </li>
    </ul>
</div>
{% endblock %}
