{% block header %}
<div class="pure-menu-horizontal">
    
    <a href="{% url '' %}" class="pure-menu-heading pure-menu-link">Global Planning Solutions</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">
                Browse
            </a>
            <a href="#" class="pure-menu-link">
                Bookings
            </a>
            <a href="#" class="pure-menu-link">
               My Account
            </a>
     </li>
    </ul>
</div>
{% endblock %}
